.container {
    margin: 50px auto;
    padding: 20px;
    width: 400px;
    background-color: #eee;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}